<!DOCTYPE html>
<html lang="de-de">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ page.title }}</h1>
      <h2 class="project-tagline">die deutschsprachige Website der Anonymen Paare in Genesung (recovering couples anonymous)</h2>
      <nav>
        <a href="/">Home</a> | 
        <a href="WerWirSind">Wer wir sind</a> |
        <a href="Gruppen">Gruppen</a> | 
        <a href="12Schritte">12 Schritte</a> |
        <a href="Literatur">Literatur</a> |
        <a href="Archiv">Archiv</a>
      </nav>
    </section>

    <section class="main-content">
      {{ content }}

    </section>
    <section class="site-footer">
      <div>Email: <a href="mailto:kontakt@recovering-couples.de">Kontakt</a>
      |<a href="http://www.recovering-couples.org">Homepage RCA-WSO</a></div>
      |<form id="rcahidden">
        <input type="text" id="rcapw"><input type="submit" id="rcasubmit">
        <script>$(function(){$("#rcasubmit").click(function(){alert("gesendet: "+$("rcapw").val());}); });</script>
      </form>
    </section>
  
  </body>
</html>
