<!DOCTYPE html>
<html lang="de-de">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" 
     content="RCA ist Selbsthilfegruppe von Paaren, die sich dazu verpflichtet haben, in der Partnerschaft eine gesündere Kommunikation, Anteilnahme und größere Intimität zu erlangen."/>
    <meta name="keywords" 
     content="Paare in Genesung, Recovering Couples Anonymous, Deutsche Homepage von RCA, 12 Schritte, Paare, Genesung, RCA, verbindliche Beziehung, AA, Anonyme Gruppe, 12steps, Programm, Sucht, SLAA, AA, CODA, OA, Anonyme Unternehmer, A.R.T.S.-Anonymous,  12 Traditionen"/>
    <meta name="robots" content="index, follow, archive"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Anonyme Paare in Genesung</h1>
      <h2 class="project-tagline">die deutschsprachige Website der Recovering Couples Anonymous</h2>
      <nav>
        <a href="index.html">Home</a> | 
        <a href="WerWirSind.html">Wer wir sind</a> |
        <a href="Gruppen.html">Gruppen</a> | 
        <a href="12Schritte.html">12 Schritte</a> |
        <a href="Literatur.html">Literatur</a> |
        <a href="Archiv.html">Archiv</a>
      </nav>
    </section>

    <section class="main-content">
      {{ content }}

    </section>
    <section class="site-footer">
      <div><a href="datenschutz.html">Datenschutzhinweis</a></div>
      <div>&copy; 2021 by RCA-Deutschland | Email: <a href="mailto:kontakt@recovering-couples.de">Kontakt</a>
      |<a href="https://recovering-couples.org/rca-shop/books/">Bookshop auf Homepage RCA-WSO</a></div>
      <br><form id="rcahidden">
        <input type="text" id="rcapw"><input type="submit" value="zum internen Bereich" id="rcasubmit">
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script><script>
        $(function(){
          $("#rcasubmit").click(function(evt){
            evt.preventDefault();
            window.location.replace("https://www.recovering-couples.de/files/"+$("#rcapw").val()+"/index.html");
          });
        });
        </script>
      </form>
    </section>
  
  </body>
</html>
