<!DOCTYPE html>
<html lang="de-de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/github-light.css" media="screen">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Anonyme Paare in Genesung</h1>
      <h2 class="project-tagline">die deutschsprachige Website der Recovering Couples Anonymous</h2>
      <nav>
        <a href="https://www.recovering-couples.de">Home</a> | 
      </nav>
    </section>

    <section class="main-content">
      {{ content }}
    </section>

  </body>
</html>
